node_modules
dataupload/__pycache__/manage.cpython-38.pyc
dataupload/api/__pycache__/__init__.cpython-38.pyc
dataupload/api/__pycache__/admin.cpython-38.pyc
dataupload/api/__pycache__/apps.cpython-38.pyc
dataupload/api/__pycache__/cron.cpython-38.pyc
dataupload/api/__pycache__/models.cpython-38.pyc
dataupload/api/__pycache__/serializers.cpython-38.pyc
dataupload/api/__pycache__/upload_handler.cpython-38.pyc
dataupload/api/__pycache__/urls.cpython-38.pyc
dataupload/api/__pycache__/views.cpython-38.pyc
dataupload/api/migrations/__pycache__/__init__.cpython-38.pyc
dataupload/api/migrations/__pycache__/0001_initial.cpython-38.pyc
dataupload/api/migrations/__pycache__/0002_authgroup_authgrouppermissions_authpermission_and_more.cpython-38.pyc
dataupload/api/migrations/__pycache__/0003_folbevtelek_folglselszmols_folkltsgek_folorders_and_more.cpython-38.pyc
dataupload/api/__pycache__/apps.cpython-38.pyc
dataupload/api/__pycache__/__init__.cpython-38.pyc
dataupload/api/__pycache__/__init__.cpython-38.pyc
dataupload/api/__pycache__/apps.cpython-38.pyc
dataupload/dataupload/__pycache__/__init__.cpython-38.pyc
dataupload/frontend/static/frontend/index.js
files/
dataupload/api/token.pickle
