@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.center-form {
		@apply flex flex-col items-center justify-center border-4 border-gray-400 shadow-lg shadow-gray-500 rounded-lg bg-slate-200 mx-80 py-20 my-32;
	}

	.all-white-bg > * {
		@apply bg-white;
	}

	.better-base-input {
		@apply rounded-md px-12;
	}

	.upload-checker-container {
		@apply container lg:mx-52 md:mx-20 px-32 border-2 p-16 border-gray-400 m-5 rounded-md font-sans flex justify-between items-center justify-center;
	}
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
